In [ ]:
# @author Julia Casado
# 
# https://www.ruokavirasto.fi/en/about-us/open-information/inspire/
# Link: Agricultural parcel containing spatial data 2021
# https://eur03.safelinks.protection.outlook.com/?url=https%3A%2F%2Fdownload.inspire.ruokavirasto-awsa.com%2Fdata%2F2021%2FLandUse.ExistingLandUse.GSAAAgriculturalParcel.gpkg&data=05%7C01%7Cpia-maria.jokipii%40ruokavirasto.fi%7C1792ce7a0af14b60e01508da59bd08bb%7C7c14dfa4c0fc47259f0476a443deb095%7C0%7C0%7C637920965679601749%7CUnknown%7CTWFpbGZsb3d8eyJWIjoiMC4wLjAwMDAiLCJQIjoiV2luMzIiLCJBTiI6Ik1haWwiLCJXVCI6Mn0%3D%7C3000%7C%7C%7C&sdata=ioiHaA9uDv55WB8k%2BJYfw38qapXxX8Zd6679Qx95P7s%3D&reserved=0

In [35]:
import geopandas as gpd
import numpy as np
import pandas as pd
from shapely.geometry import Point, Polygon

In [30]:
QUERY_CROP = 'Tärkkelysperuna'
QUERY_FIELD = 'KASVIKOODI_SELITE_FI'

In [31]:

gdf = gpd.read_file("../../../LandUse.ExistingLandUse.GSAAAgriculturalParcel.gpkg")
print(gdf.crs) # epsg:3067
gdf

epsg:3067

,VUOSI,PERUSLOHKOTUNNUS,LOHKONUMERO,PINTA_ALA,KASVIKOODI,KASVIKOODI_SELITE_FI,KASVIKOODI_SELITE_SV,geometry
0,2021,9750800920,2,0.34,6111,"1-vuot. kuivaheinä-, säilörehu-, tuorerehunurmet","Ettårig torrhö-, ensilage- och färskfodervall","POLYGON ((278423.630 6997822.586, 278422.868 6..."
1,2021,9750801021,1,6.07,1211,Kevätruisvehnä,Vårrågvete,"POLYGON ((270894.941 6980961.381, 270888.388 6..."
2,2021,9750801324,1,1.30,1120,Kevätvehnä,Vårvete,"POLYGON ((285759.980 6987149.832, 285780.457 6..."
3,2021,9750801526,1,1.57,1310,Rehuohra,Foderkorn,"POLYGON ((283321.739 6988247.270, 283322.352 6..."
4,2021,9750801728,1,0.08,1400,Kaura,Havre,"POLYGON ((271546.555 6987023.699, 271547.693 6..."
...,...,...,...,...,...,...,...,...
1086360,2021,9780256685,1,3.22,6050,Viherlannoitusnurmi,Gröngödslingsvall,"POLYGON ((556630.102 6746963.178, 556629.399 6..."
1086361,2021,9780256685,2,0.31,9405,"Luonnonhoitopelto (nurmikasvit, väh. 2 v.)","Naturvårdsåker (vallväxter, minst 2 år)","POLYGON ((556811.500 6746975.000, 556809.500 6..."
1086362,2021,9780256786,1,0.85,6121,"Moniv. kuivaheinä-, säilörehu- ja tuorerehunurmet","Flerårig torrhö-, ensilage- och färskfodervall","POLYGON ((553286.591 6747546.710, 553285.522 6..."
1086363,2021,9780256887,1,2.98,1400,Kaura,Havre,"POLYGON ((551218.375 6737194.648, 551241.693 6..."
1086364,2021,9780257392,1,1.62,1400,Kaura,Havre,"POLYGON ((564882.821 6745150.482, 564876.653 6..."

In [34]:
starch_fields = gdf[gdf[QUERY_FIELD] == QUERY_CROP]
print(starch_fields)
# 2659 rows 
starch_fields_projected = starch_fields.to_crs("EPSG:4326") 
starch_fields_projected

         VUOSI PERUSLOHKOTUNNUS  LOHKONUMERO  PINTA_ALA KASVIKOODI  \
98        2021       9750813145            1      13.43       3130
488       2021       0040026038            1       4.34       3130
489       2021       0040026139            1       0.65       3130
504       2021       0040028967            1       3.84       3130
512       2021       0040030078            1       1.97       3130
...        ...              ...          ...        ...        ...
1079154   2021       9750438481            1       1.12       3130
1079390   2021       9750587015            1       2.45       3130
1079510   2021       9750440404            1       1.15       3130
1079511   2021       9750440606            1       0.97       3130
1079644   2021       9750789705            1       1.66       3130

        KASVIKOODI_SELITE_FI KASVIKOODI_SELITE_SV  \
98           Tärkkelysperuna     Stärkelsepotatis
488          Tärkkelysperuna     Stärkelsepotatis
489          Tärkkelysperuna     Stärkelsepotatis
504          Tärkkelysperuna     Stärkelsepotatis
512          Tärkkelysperuna     Stärkelsepotatis
...                      ...                  ...
1079154      Tärkkelysperuna     Stärkelsepotatis
1079390      Tärkkelysperuna     Stärkelsepotatis
1079510      Tärkkelysperuna     Stärkelsepotatis
1079511      Tärkkelysperuna     Stärkelsepotatis
1079644      Tärkkelysperuna     Stärkelsepotatis

                                                  geometry
98       POLYGON ((283690.796 6976706.552, 283721.646 6...
488      POLYGON ((279218.655 7020083.389, 279214.071 7...
489      POLYGON ((279589.878 7019807.036, 279688.697 7...
504      POLYGON ((287267.531 7029473.927, 287267.815 7...
512      POLYGON ((296211.078 7025961.233, 296175.356 7...
...                                                    ...
1079154  POLYGON ((283427.784 6991000.573, 283427.471 6...
1079390  POLYGON ((273546.241 6993984.046, 273547.741 6...
1079510  POLYGON ((274710.860 6992387.093, 274709.433 6...
1079511  POLYGON ((274659.919 6992437.217, 274659.403 6...
1079644  POLYGON ((273612.689 6994215.885, 273614.280 6...

[2659 rows x 8 columns]

,VUOSI,PERUSLOHKOTUNNUS,LOHKONUMERO,PINTA_ALA,KASVIKOODI,KASVIKOODI_SELITE_FI,KASVIKOODI_SELITE_SV,geometry
98,2021,9750813145,1,13.43,3130,Tärkkelysperuna,Stärkelsepotatis,"POLYGON ((22.74817 62.85613, 22.74882 62.85581..."
488,2021,0040026038,1,4.34,3130,Tärkkelysperuna,Stärkelsepotatis,"POLYGON ((22.60232 63.24164, 22.60224 63.24157..."
489,2021,0040026139,1,0.65,3130,Tärkkelysperuna,Stärkelsepotatis,"POLYGON ((22.61007 63.23940, 22.61208 63.23912..."
504,2021,0040028967,1,3.84,3130,Tärkkelysperuna,Stärkelsepotatis,"POLYGON ((22.74973 63.33055, 22.74974 63.33051..."
512,2021,0040030078,1,1.97,3130,Tärkkelysperuna,Stärkelsepotatis,"POLYGON ((22.93231 63.30430, 22.93166 63.30385..."
...,...,...,...,...,...,...,...,...
1079154,2021,9750438481,1,1.12,3130,Tärkkelysperuna,Stärkelsepotatis,"POLYGON ((22.72438 62.98391, 22.72438 62.98387..."
1079390,2021,9750587015,1,2.45,3130,Tärkkelysperuna,Stärkelsepotatis,"POLYGON ((22.52590 63.00459, 22.52593 63.00459..."
1079510,2021,9750440404,1,1.15,3130,Tärkkelysperuna,Stärkelsepotatis,"POLYGON ((22.55100 62.99102, 22.55098 62.99096..."
1079511,2021,9750440606,1,0.97,3130,Tärkkelysperuna,Stärkelsepotatis,"POLYGON ((22.54993 62.99144, 22.54993 62.99137..."
1079644,2021,9750789705,1,1.66,3130,Tärkkelysperuna,Stärkelsepotatis,"POLYGON ((22.52689 63.00670, 22.52692 63.00670..."

In [52]:
starch_fields_projected.to_file("starch_fields_projected.gpkg", driver="GPKG")

In [41]:
# Filter finland points to only starch_fields
pg_finland = pd.read_csv("../../../Download_SWI/pointlist_Finland_copernicus_swi_ts.csv")

gdf_finland_points = gpd.GeoDataFrame(
    pg_finland, geometry=gpd.points_from_xy(pg_finland.lon, pg_finland.lat))


gdf_finland_points.

,point,cell,grid,lat,lon,geometry
0,2831313,375,COPERNICUS SWI TS,60.300392,24.415195,POINT (24.41520 60.30039)
1,2831317,375,COPERNICUS SWI TS,60.300392,24.641264,POINT (24.64126 60.30039)
2,2831321,375,COPERNICUS SWI TS,60.300392,24.867331,POINT (24.86733 60.30039)
3,2831325,375,COPERNICUS SWI TS,60.300392,25.093397,POINT (25.09340 60.30039)
4,2831329,375,COPERNICUS SWI TS,60.300392,25.319464,POINT (25.31946 60.30039)
...,...,...,...,...,...,...
2106,2831297,375,COPERNICUS SWI TS,60.300392,23.510929,POINT (23.51093 60.30039)
2107,2831301,375,COPERNICUS SWI TS,60.300392,23.736996,POINT (23.73700 60.30039)
2108,2831305,375,COPERNICUS SWI TS,60.300392,23.963062,POINT (23.96306 60.30039)
2109,2831309,375,COPERNICUS SWI TS,60.300392,24.189129,POINT (24.18913 60.30039)
2110,2828039,357,COPERNICUS SWI TS,60.188198,19.825953,POINT (19.82595 60.18820)