In [ ]:
# @author Julia Casado
# 
# https://www.ruokavirasto.fi/en/about-us/open-information/inspire/
# Link: Agricultural parcel containing spatial data 2021
# https://eur03.safelinks.protection.outlook.com/?url=https%3A%2F%2Fdownload.inspire.ruokavirasto-awsa.com%2Fdata%2F2021%2FLandUse.ExistingLandUse.GSAAAgriculturalParcel.gpkg&data=05%7C01%7Cpia-maria.jokipii%40ruokavirasto.fi%7C1792ce7a0af14b60e01508da59bd08bb%7C7c14dfa4c0fc47259f0476a443deb095%7C0%7C0%7C637920965679601749%7CUnknown%7CTWFpbGZsb3d8eyJWIjoiMC4wLjAwMDAiLCJQIjoiV2luMzIiLCJBTiI6Ik1haWwiLCJXVCI6Mn0%3D%7C3000%7C%7C%7C&sdata=ioiHaA9uDv55WB8k%2BJYfw38qapXxX8Zd6679Qx95P7s%3D&reserved=0

In [29]:
import geopandas as gpd
import numpy as np
import pandas as pd

In [30]:
QUERY_CROP = 'Tärkkelysperuna'
QUERY_FIELD = 'KASVIKOODI_SELITE_FI'

In [5]:

gdf = gpd.read_file("../../../LandUse.ExistingLandUse.GSAAAgriculturalParcel.gpkg")
print(gdf.crs) # epsg:3067
gdf

epsg:3067

,VUOSI,PERUSLOHKOTUNNUS,LOHKONUMERO,PINTA_ALA,KASVIKOODI,KASVIKOODI_SELITE_FI,KASVIKOODI_SELITE_SV,geometry
0,2021,9750800920,2,0.34,6111,"1-vuot. kuivaheinä-, säilörehu-, tuorerehunurmet","Ettårig torrhö-, ensilage- och färskfodervall","POLYGON ((278423.630 6997822.586, 278422.868 6..."
1,2021,9750801021,1,6.07,1211,Kevätruisvehnä,Vårrågvete,"POLYGON ((270894.941 6980961.381, 270888.388 6..."
2,2021,9750801324,1,1.30,1120,Kevätvehnä,Vårvete,"POLYGON ((285759.980 6987149.832, 285780.457 6..."
3,2021,9750801526,1,1.57,1310,Rehuohra,Foderkorn,"POLYGON ((283321.739 6988247.270, 283322.352 6..."
4,2021,9750801728,1,0.08,1400,Kaura,Havre,"POLYGON ((271546.555 6987023.699, 271547.693 6..."
...,...,...,...,...,...,...,...,...
1086360,2021,9780256685,1,3.22,6050,Viherlannoitusnurmi,Gröngödslingsvall,"POLYGON ((556630.102 6746963.178, 556629.399 6..."
1086361,2021,9780256685,2,0.31,9405,"Luonnonhoitopelto (nurmikasvit, väh. 2 v.)","Naturvårdsåker (vallväxter, minst 2 år)","POLYGON ((556811.500 6746975.000, 556809.500 6..."
1086362,2021,9780256786,1,0.85,6121,"Moniv. kuivaheinä-, säilörehu- ja tuorerehunurmet","Flerårig torrhö-, ensilage- och färskfodervall","POLYGON ((553286.591 6747546.710, 553285.522 6..."
1086363,2021,9780256887,1,2.98,1400,Kaura,Havre,"POLYGON ((551218.375 6737194.648, 551241.693 6..."
1086364,2021,9780257392,1,1.62,1400,Kaura,Havre,"POLYGON ((564882.821 6745150.482, 564876.653 6..."

In [28]:
starch_fields = gdf[gdf[QUERY_FIELD] == QUERY_CROP]
print(starch_fields)
# 2659 rows 
# gdf = gdf.to_crs("EPSG:4326")

KeyError: 'KASVIKOODI_SELITE_FI'

In [24]:
# Filter finland points to only starch_fields
pg_finland = pd.read_csv("../../../Download_SWI/pointlist_Finland_copernicus_swi_ts.csv")
pg_finland

        point  cell               grid        lat        lon
0     2831313   375  COPERNICUS SWI TS  60.300392  24.415195
1     2831317   375  COPERNICUS SWI TS  60.300392  24.641264
2     2831321   375  COPERNICUS SWI TS  60.300392  24.867331
3     2831325   375  COPERNICUS SWI TS  60.300392  25.093397
4     2831329   375  COPERNICUS SWI TS  60.300392  25.319464
...       ...   ...                ...        ...        ...
2106  2831297   375  COPERNICUS SWI TS  60.300392  23.510929
2107  2831301   375  COPERNICUS SWI TS  60.300392  23.736996
2108  2831305   375  COPERNICUS SWI TS  60.300392  23.963062
2109  2831309   375  COPERNICUS SWI TS  60.300392  24.189129
2110  2828039   357  COPERNICUS SWI TS  60.188198  19.825953

[2111 rows x 5 columns]